body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the body takes up at least the height of the viewport */
background-color:  #fff8f8;
}
/* Name: Akib Abtahi
Id:2130658 */


.navbar {
    list-style-type: none; /* Removing default list style */
    margin: 10px;
    padding: 7px;
    display: flex; /* Using flexbox for layout */
    justify-content: center; /* Aligning navigation items horizontally */
    background-color: #6d6d83; /* Setting background color */
    font-family: "Arial", sans-serif; /* Changing the font */
}

.navbar li {
    margin: 0 10px; /* Adding margin between navigation items */
}

.navbar li a {
    text-decoration: none; /* Removing underline from links */
    color: #ffffff; /* Setting link color */
    padding: 15px; /* Adding padding to links for better click area */
    transition: color 0.3s; /* Adding transition for smooth color change */
}

.navbar li a:hover {
    color: #fff; /* Changing text color on hover */
    background-color: #abacbd; /* Changing 
    background color on hover */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    padding: 7px;
}

.navbar li a.active {
    font-weight: bold; /* Making active link bold */
}



.container {
    margin: 0 auto;
    overflow: hidden;
}
.sofa{
    display: grid; /* Use grid layout for the container */
    grid-template-columns: 1fr 1fr 1fr; /* Define three equal-width columns */
}

img {
    margin: 50px auto; /* Add margin around the images */
    padding: 5px; /* Add padding around the images */
    width: 450px; /* Set width of the images */
    border-radius: 20px; /* Apply border radius to the images */
    margin-left: 20%;
}

footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6d6d83;
    color: #fff;
    text-align: center;
    padding: 0px 0;
}

.para,.para2{
    margin-bottom: 20px; /* Adding space below each paragraph */
    line-height: 1.5; /* Setting line height for better readability */
    font-size: 15px; /* Setting font size */
    margin: 20px; /* Setting margins */
    font-family: "Arial", sans-serif; /* Changing the font */
    text-align: justify; /* Justifying text */
    margin-left: 20%;
}
h2{
    margin: 20px;
    font-size:30px; 
}
header {
    background: #6d6d83;
    color: #fff;
    padding:  0;
}
h1{
    margin: 20px;
    font-size:50px;
   
}

.lamp {
    display: grid; /* Use grid layout for the container */
    grid-template-columns: 1fr 1fr 1fr; /* Define three equal-width columns */
}
.table {
    display: grid; /* Use grid layout for the container */
    grid-template-columns: 1fr 1fr 1fr; /* Define three equal-width columns */
}

